name: Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Test with Maven
      run: mvn test
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Push to GitHub Packages
      uses: docker/build-push-action@v1
      with:
        username: ${{ github.actor }}
        password: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        registry: docker.pkg.github.com
        repository: "heycat-svg/jupiter-backend/backend"
        tag_with_ref: true